

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>
@ViewBag.thongbao
<p>
    @Html.ActionLink("Create New", "Create")
    <br />
    <label>Ten nhan vien</label>
    <input type="text" placeholder="Ten Nha Xuat Ban " id="tennxb" />
    <button class="btn btn-primary" id="search">Tim kiem</button>
</p>
@Html.DropDownList("Pagesize", new SelectList(ViewBag.Pagesize, "ID", "ID"), new { @class = "form-control" })
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Ten NXB
        </th>
        <th>
            Dia Chi
        </th>
        <th>
            Chinh Sua
        </th>
        <th>Xoa</th>

    </tr>
    <tbody id="tbData">
    </tbody>
    <tfoot >
        <tr>
            <th colspan="100" id="pages" style="text-align: center;">

            </th>
        </tr>
    </tfoot>

</table>
@section scripts{
    <script>


        var nxb = {
            init: function () {
                nxb.search(1);
                $("#search").click(function () {
                    nxb.search(1);
                });
                $("#Pagesize").change(function () {
                    nxb.search(1);
                });
            },
            search: function (index) {
                var tennxb = $("#tennxb").val();
                var size = $("#Pagesize").val();
                var form = new FormData()
                form.append("Tennxb", tennxb);
                form.append("Diachi", "");
                form.append("index", index);
                form.append("size", size);
               
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/NhaXuatBan/Search/',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#pages").html(res.page);
                    },
                });
            },

        }
        nxb.init();
        function goto(i) {
            nxb.search(i);
        }
    </script>
}