@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
     @Html.DropDownList("Lopid",new SelectList(ViewBag.Lops,"Id","Tenlop"),new { @class="form-control"})
</p>
<span id="mess"></span>
<table class="table">
    <thead>
        <tr>
            <th>
                TT
            </th>
            <th>
                Ho Ten
            </th>
            <th>
                MSSV
            </th>
            <th>
                Lop
            </th>
            <th>
                Ngay Sinh
            </th>

            <th> UserName</th>
            <th> Chinh Sua</th>
            <th> Xoa</th>
        </tr>
    </thead>
    <tbody id="tbData">

    </tbody>

</table>
@section scripts{
    <script>
        var Sinhvien = {
            init: function () {
                Sinhvien.Lopchange();
                $("#Lopid").change(function () {
                    Sinhvien.Lopchange();
                });
            },
            Lopchange: function () {
                var lopid = $("#Lopid").val();
                $.ajax({
                    url: '/Admin/Sinhvien/getSinhvien/' + lopid,
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#mess").html(res.mess);
                    }
                })
            },
            Delete: function (id) {
                alert(id);
                $.ajax({
                    url: '/Admin/Sinhvien/Delete/' + id,
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        alert(res.result);
                        Sinhvien.Lopchange();
                    }
                })
            }
        }
        Sinhvien.init();
    </script>
    
    }