
@{
    ViewBag.Title = "Trasach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4>MƯỢN TRẢ SÁCH</h4>
    </div>
    <div class="card-body">
        <div class"row">
            <div class="col-md-12">
                <a href="/Admin/Muontra/Create" class="btn btn-danger"> Mượn sách</a>
                <a hhref="javascript:void(0)" class="btn btn-secondary">Trả sách</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Mã sách
                                </span>
                            </div>
                            <input type="text" class="form-control" id="masach" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Ten sach
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="tensach" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Tac gia
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="tacgia" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Tình trạng
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="Tinhtrangsach" readonly="readonly" />
                        </div>
                    </div>
                    <div>
                        <div>Anh bia</div>
                        <img src="" style="width:200px;height:300px" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Mã thẻ
                                </span>
                            </div>
                            <input type="text" class="form-control" id="mathe" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Ho ten
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="hoten" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Dia chi
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="diachi" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Tinh trang the
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="tinhtrangthe" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <div>Hinh anh</div>
                        <img src="" style="width:200px;height:300px" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-danger" id="Trasach">Tra sach</button>
            </div>
        </div>
    </div>
</div>
@*Bước 1: Thủ thư: Nhập code sách vào box - Hệ thống tự động tìm kiếm thông tin mm]ợn trả theo code
    Bước 2: Hệ thống tự động điền thôn gtin mượn trả vòa các hộ box
    Bầm nustrtar: Hệ tống tự động gán các thông tin trả sách: Ngày trả và tính trạng trả người nhận trả
    
    *@
@section scripts{
    <script>
        var muontra = {
            init: function () {
                // muontra.masachchange();
                // muontra.sinhvienchange();
                $("#masach").change(function () {

                    muontra.masachchange();
                });               
                $("#Trasach").click(function () {
                    muontra.Trasach();
                });
            },
            masachchange: function () {
                var masach = $("#masach").val();
                if (masach == null || masach == "") {
                    _layout.showtoast("Nhập ma sach");
                    return;
                }
                $.ajax({
                    url: '/Admin/Muontra/Timsach_Tra/' + masach,
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        // alert(masach);
                        $("#tensach").val(res.data.Tensach);
                        //  alert(res.data.Tensach);
                        $("#tacgia").val(res.data.Tentacgia);
                        $("#Tinhtrangsach").val(res.data.TinhTrangMuon);
                        $("#mathe").val(res.data.MSSV);
                        $("#hoten").val(res.data.HotenSv);
                        $("#diachi").val(res.data.Tenlop);
                        $("#tinhtrangthe").val(res.data.Tinhtrangthe);
                    }
                })
            },
            Trasach: function () {
                var masach = $("#masach").val();

                if (masach == null || masach == "") {
                    _layout.showtoast("Nhập ma sach");
                    return;
                }
               
                $.ajax({
                    url: '/Admin/Muontra/Save_Tra/',
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        $("#masach").val("");
                        _layout.showtoast(res.result);
                    }
                })

            },
        }
        muontra.init();
    </script>
    }